.features-block {
    height: 500px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    align-items: center;
    justify-content:space-around;
    position: relative;
    text-align: center;
    padding: 4rem;
}

.row {
    width:100%;
    margin-right: -5px;
    margin-left: -5px;
}
.col-md-10, .col-xs-6, .col-md-3{
    position: relative;
    min-height: 1px;
    padding-right: 50px; /*15*/
    padding-left: 50px;
}
.col-xs-6{
    float: left;
}
.col-xs-6 {
    width: 50%;
}

.features-title {
    color: #0a3d62;
    font-size: 2.575rem;
    line-height: 3.0625rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    @media only screen and (max-width: 414px) {
        font-size: 1.625rem;
    }
}

.features-subtitle {
    color: #0a3d62;
    font-size: 25px;
    padding-top: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    @media only screen and (max-width: 414px) {
        font-size: 1.625rem;
    }
}
.features-text {
    padding: 0.75rem 0 0.75rem;
    color: #252e48;
    font-size: 20px;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
}
.features-icon{
    font-size: 42px;
	width: 100px;
	height: 100px;
    padding: 30px 0;
	background: linear-gradient(to right, #0a3d62 0%, #0a3d62 100%);
	border-radius: 50%;
	color: #fff;
	box-shadow: 10px 10px 10px rgba(0,0,0,.05);
}

@media (min-width: 992px) {
    .col-md-3, .col-md-10{
        float: left;
      }
      .col-md-3 {
          width: 33%;
      }
    .col-md-10 {
        width: 83.33333333%;
    }
}