.middle-block {
    position: relative;
    background: #fff; /*#f5f6fa;*/
    padding: 4rem;
    display: flex;
    justify-content: center;
    text-align: center;
    @media screen and (max-width: 768px) {
      padding: 5.5rem 0 3rem;
    }
}

.middle-block-title {
    color: #0a3d62;
    font-size: 2.575rem;
    line-height: 3.0625rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    @media only screen and (max-width: 414px) {
        font-size: 1.625rem;
    }
}
.line {
    text-align: center;
    align-items:center;
}

.content {
    padding: 0.75rem 0 0.75rem;
    color: #252e48;
    font-size: 20px;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
}

.content > p{
    padding: 0.75rem 0 0.75rem;
    color: #252e48;
    font-size: 20px;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
}
  
.content-wrapper {
    max-width: 700px;
    @media only screen and (max-width: 768px) {
        max-width: 100%;
    }
}
