.services-block {
    height: 800px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    align-items: center;
    justify-content:center;
    position: relative;
    text-align: center;
    padding: 4rem;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.col-md-4{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.service-desc{
    margin: 10px 10px 20px;
    margin-bottom: 40px;
}
.services-title {
    color: #0a3d62;
    font-size: 2.575rem;
    line-height: 3.0625rem;
    padding-bottom: 0.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    @media only screen and (max-width: 414px) {
        font-size: 1.625rem;
    }
}

.services-subtitle {
    color: #0a3d62;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    @media only screen and (max-width: 414px) {
        font-size: 1.625rem;
    }
}
.services-text {
    padding: 0.75rem 0 0.75rem;
    color: #252e48;
    font-size: 20px;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
}

.section-title{
	margin-bottom: 70px;
}

@media (min-width: 992px) {
    .col-md-4{
        float: left;
        width: 33.33333333%;
    }
}